name: Build Gridly C# SDK

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore solution
        run: dotnet restore src/Com.Gridly/Com.Gridly.csproj

      - name: Build
        run: dotnet build --configuration Release --no-restore src/Com.Gridly/Com.Gridly.csproj

      - name: Run tests
        run: dotnet test --configuration Release --no-build --verbosity normal src/Com.Gridly.Test/Com.Gridly.Test.csproj

      - name: Archive artifact
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: com.gridly.csharp-sdk
          # A file, directory or wildcard pattern that describes what to upload
          path: bin/*.zip
          retention-days: 1
          if-no-files-found: error